{{/*
AWS Secrets Manager / SSM - SecretProviderClass
Uses the new secrets map interface with automatic path resolution.

Requires: AWS Secrets Store CSI Driver installed in cluster
*/}}
{{- if eq (include "secrets.isAwsEnabled" .) "true" }}
{{- $appname := include "name" . -}}
{{- $namespace := .Release.Namespace -}}
{{- $root := . -}}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ $appname }}-aws-secrets
  namespace: {{ $namespace }}
  labels:
    app: {{ $appname }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
  annotations:
    checksum/secrets: {{ printf "%v" .Values.secrets | sha256sum }}
spec:
  provider: {{ .Values.secretsProvider.aws.provider | default "aws" }}
  secretObjects:
    - secretName: {{ $appname }}
      type: Opaque
      data:
      {{- range $envVar, $secretPath := .Values.secrets }}
        - objectName: {{ $envVar | quote }}
          key: {{ $envVar | quote }}
      {{- end }}
  parameters:
    objects: |
    {{- range $envVar, $secretPath := .Values.secrets }}
      {{- $resolvedPath := include "secrets.resolvePath" (dict "path" $secretPath "root" $root) }}
      - objectName: "/{{ $resolvedPath }}"
        objectAlias: {{ $envVar }}
        objectType: "ssmparameter"
    {{- end }}
{{- end }}
