{{/*
Vault Secrets Operator - VaultStaticSecret resources
Automatically creates VaultStaticSecret for each unique path in secrets map.
All secrets are synced to a single K8s Secret named after the app.

Requires: HashiCorp Vault Secrets Operator (VSO) installed in cluster
Docs: https://developer.hashicorp.com/vault/docs/deploy/kubernetes/vso
*/}}
{{- if eq (include "secrets.isVaultEnabled" .) "true" }}
{{- $appname := include "name" . -}}
{{- $namespace := .Release.Namespace -}}
{{- $environment := .Values.environment -}}
{{- $vaultConfig := .Values.secretsProvider.vault -}}
{{- $root := . -}}

{{- /* Collect unique paths */ -}}
{{- $uniquePaths := dict -}}
{{- range $envVar, $secretPath := .Values.secrets -}}
{{- $resolvedPath := include "secrets.resolvePath" (dict "path" $secretPath "root" $root) -}}
{{- $_ := set $uniquePaths $resolvedPath true -}}
{{- end -}}

{{- /* Create VaultStaticSecret for each unique path */ -}}
{{- $pathIndex := 0 -}}
{{- range $path, $_ := $uniquePaths }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  {{- if eq (len $uniquePaths) 1 }}
  name: {{ $appname }}
  {{- else }}
  name: {{ $appname }}-{{ $pathIndex }}
  {{- end }}
  namespace: {{ $namespace }}
  labels:
    app: {{ $appname }}
    chart: "{{ $root.Chart.Name }}-{{ $root.Chart.Version }}"
    release: "{{ $root.Release.Name }}"
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-5"
    helm.sh/hook-delete-policy: before-hook-creation
spec:
  type: {{ $vaultConfig.type | default "kv-v2" }}
  mount: {{ $vaultConfig.mount | default "secret" }}
  path: {{ $path }}
  refreshAfter: {{ $vaultConfig.refreshAfter | default "1h" }}
  vaultAuthRef: {{ $vaultConfig.authRef | default "vault-auth" }}
  destination:
    name: {{ $appname }}
    create: true
    overwrite: true
{{- $pathIndex = add $pathIndex 1 -}}
{{- end }}
{{- end }}
