{{- if .Values.job.enabled -}}
  {{- $appname := printf "%s" (include "name" .) -}}
  {{- $jobName :=  printf "%s-%s" (include "name" .) "job" -}}
  {{- range $key, $value := .Values.job.spec }}
---
apiVersion: batch/v1
kind: Job
metadata:
  namespace: "{{ $.Release.Namespace }}"
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-3"
    "helm.sh/hook-delete-policy": "before-hook-creation"
  labels:
    helm.sh/chart: "{{$.Chart.Name}}-{{$.Chart.Version}}"
    job: "{{ $jobName }}"
    chart: "{{ $.Chart.Name }}-{{ $.Chart.Version }}"
    release: "{{ $.Release.Name }}"
  name: "{{ $jobName }}-{{ $key }}"
spec:
  backoffLimit: {{ default 10 $value.backoffLimit }}
  completions: 1
  parallelism: 1
  template:
    metadata:
      name: "{{ $jobName }}-{{ $key }}"
      labels:
        helm.sh/chart: "{{$.Chart.Name}}-{{$.Chart.Version}}"
        job: "{{ $jobName }}"
    spec:
    {{- if $.Values.serviceAccountName }}
      serviceAccountName: {{ $.Values.serviceAccountName}}
    {{- else if $.Values.rbac.create }}
      serviceAccountName: {{ $.Release.Namespace }}-{{ $appname }}
    {{- end }}
    {{- /* CSI volume only for AWS provider or legacy mode (not for Vault) */ -}}
    {{- if and $.Values.secrets (or (not $.Values.secretsProvider) (ne $.Values.secretsProvider.provider "vault")) }}
      volumes:
        - name: secrets-store-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: {{ $appname }}-aws-secrets
    {{- end }}
      containers:
      - name: "{{ $key }}"
        command:
        {{- range $value.command }}
        - {{ . | quote }}
        {{- end }}
        args:
        {{- range $value.args }}
        - {{ . | quote }}
        {{- end }}
    {{- if or $.Values.secrets $.Values.configmap }}
        envFrom:
        {{- if $.Values.configmap }}
        - configMapRef:
            name: "{{ $appname }}"
        {{- end }}
        {{- if and $.Values.secrets (eq (include "secrets.isVaultEnabled" $) "true") }}
        {{- $secretsByPath := dict -}}
        {{- range $envVar, $pathTemplate := $.Values.secrets -}}
        {{- $resolvedPath := include "secrets.resolvePath" (dict "path" $pathTemplate "root" $) -}}
        {{- $_ := set $secretsByPath $resolvedPath true -}}
        {{- end -}}
        {{- $sortedPaths := keys $secretsByPath | sortAlpha -}}
        {{- range $pathIndex, $path := $sortedPaths }}
        - secretRef:
            name: {{ $appname }}-vault-{{ $pathIndex }}
        {{- end }}
        {{- end }}
    {{- end }}
        env:
        - name: BUILD_ID
          value: {{ default "000" $.Values.image.tag | quote  }}
    {{- /* CSI volume mount only for AWS provider or legacy mode */ -}}
    {{- if and $.Values.secrets (or (not $.Values.secretsProvider) (ne $.Values.secretsProvider.provider "vault")) }}
        volumeMounts:
          - name: secrets-store-inline
            mountPath: "/mnt/secrets-store"
    {{- end }}
        image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag }}"
        imagePullPolicy: Always
    {{- if $.Values.nodeSelector }}
      nodeSelector:
{{ toYaml $.Values.nodeSelector | indent 8 }}
    {{- end }}
    {{- if $.Values.tolerations }}
      tolerations:
{{ toYaml $.Values.tolerations | indent 8 }}
    {{- end }}
    {{- if $.Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml $.Values.imagePullSecrets | nindent 8 }}
    {{- end }}
      restartPolicy: OnFailure
  {{- end -}}
{{- end -}}
